.home {
  background: linear-gradient(105.44deg,
          #EBEBEB 4.21%,
          rgba(235, 235, 235, 0) 97.81%);

  &-logo {
    text-align: center;
    padding-top: 3rem;
  }

  &-nav {
    padding-top: 4px;
    padding-top: 3.3rem;
  }

  &-wrapper {
    padding-top: 40px;
    height: 700px;

    &__right {
      padding-left: 14rem;
      margin-top: 212px;
    }

    &-heading {
      padding-top: 3rem;
      font-weight: 700;
      font-size: 21px;
      line-height: 31px;
      color: #606060;
      background: #303030;
      text-align: center;
    }

    &__mid {
      background: #303030;
      text-align: center;
      height: 100%;

    }

    &-center {
      &-firstText {
        font-weight: 700;
        font-size: 38px;
        line-height: 56px;
        color: #000000;
        margin-top: 20px;
      }

      &-secondText {
        font-weight: 400;
        font-size: 38px;
        line-height: 56px;
        color: #111010;
        //margin-top: 15px;

      }

      &-thirdText {
        font-weight: 400;
        font-size: 14px;
        line-height: 183.77%;
        letter-spacing: 0.06em;
        color: #000000;
        margin-top: 20px;

      }

      &-buttons {
        margin-top: 40px;

      }

      &-button {
        display: inline-block;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        border-radius: 5px;
        text-decoration: none;
        padding: 14px 32px;
        background: #ED2939;
        box-shadow: 0px 16px 24px rgba(255, 0, 0, 0.15);

        &__mod {
          color: #ED2939;
          background: #FFFFFF;
          box-shadow: none;
          border: 1px solid #ED2939;
        }

        &__mod2 {
          color: #FFFFFF;
          background: #303030;
          border: 1px solid #FFFFFF;
          //margin-top: 701px;
          box-shadow: none;
          margin-top: 80px;
        }
      }

    }

    &-bottom {
      margin-top: 188px;
      margin-left: 121px;
      display: flex;
      font-weight: 700;
      font-size: 35px;
      line-height: 52px;
      color: #D2D2D2;

      &-a {
        text-decoration: none;
        color: #D2D2D2;

      }

      &-num {
        &__dec {
          padding-right: 5px;
          padding-left: 25px

        }

        &__inc {
          padding-left: 5px;
          padding-right: 25px;

        }
      }
    }

  }

  &-storeTexts {
    margin-top: 90px;

    &-1 {
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: #A9A9A9;
    }

    &-2 {
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #606060;
    }
  }

  &-image {
    position: relative;

    &-inner {
      position: absolute;
      left: -115px;
      top: -24px;
    }
  }

  &-lang {
    display: flex;
    flex-direction: column;
    padding-left: 96px;
    margin-top: 17.43rem;

    &-text {
      font-family: 'Oswald';
      font-weight: 400;
      font-size: 14px;
      line-height: 173.39%;
      letter-spacing: 0.05em;
      //color: #ED2939;
      color: black;
      text-decoration: none;
    }
  }

  &-socials {
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
  }

  &-stores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 476px;
    z-index: 2;

    &-count {
      color: #A9A9A9;
      margin: 0 15px;
    }

    &-all {
      text-decoration: underline;
      color: #616161;
      margin: 0 15px;

    }

  }
}


//header
.header {
  &-home {
    margin-top: 0;
    //padding-top: 3rem;
    background: linear-gradient(105.44deg,
            #EBEBEB 4.21%,
            rgba(235, 235, 235, 0) 97.81%);
  }
}

.rm {
  color: #EA2A35;
  text-decoration: none;
}

.mt_line {
  margin-top: 100px;
}

//\\\\\\\\\\\\\\\
//\\\\\\\\\\\\\\\\
//\\\\\\\\\\\\\\\\

@media (max-width:1440px) and (min-width:1024px) {
  .home-image-inner {
    width: 36rem;
  }
}
@media (max-width:1024px) and (min-width:768px) {
  .home-image-inner {
    width: 24rem;
    top: 10px;
    left: -74px;
  }
  .home-wrapper__right {
    padding-left: 5rem;
  }
}

@media screen and (max-width: 768px) {

  .mt_line {
    margin-top: 20px;
  }
  .features-block {
    margin: 1.075rem 0;
    //display: flex;
    //justify-content: space-evenly;
  }
  .home {
    &-socials {
      flex-direction: row;
      margin-top: 0;
      margin-bottom: 20px;
      margin-left: 12px;
    }

    &-image {
      & img {
        left: 25px;
      }
    }

    &-nav, &-logo {
      padding-top: 0;
    }

    &-wrapper {
      height: 480px;

      &__mid {
        height: 110%;
      }

      &__right {
        padding-left: 6px;
        margin-top: 90px;
      }

      &-bottom {
        margin-top: 45px;
        margin-left: 6px;
      }

      &__first {
        display: none;
      }
    }
  }
  //change those parts
  //parts-green
  .parts-big {
    height: 787px;
    margin-top: 0.9375rem;
  }


  .parts-square-inner-right__mod3 img {
    top: -41px;
    width: 30rem;
    right: -450px;
  }
  .parts-square-inner-left__mod3 {
    top: 3.9375rem;
    left: 2px;
  }
  //parts-red
  .parts-square-inner-right__mod2 img {
    top: -41px;
    width: 30rem;
    right: -450px;
  }
}

@media screen and (max-width: 426px) {

  .home {
    &-stores {
      margin-top: 359px;
    }

    &-socials {
      margin-top: 60px;
    }

    &-image {
      & img {
        left: 9px;
        width: 24rem;
        top: 3px;
      }
    }
  }
  //parts-red
  .parts-big {
    height: 1160px;
  }
  .parts-square-inner-left__mod3 {
    top: 17.9375rem;
    left: 2px;
  }

  .parts-square-inner-right__mod2 img {
    top: 275px;
    width: 30rem;
    right: -130px;
  }
  //PARTS-GREEN
  .parts-square-inner-right__mod3 img {
    top: 292px;
    width: 29rem;
    right: -132px;
  }
  .features {

      margin: 3.5rem 0;

    &-block {
      &-img {
        width: 35%;
        text-align: right;
      }
    }
  }
  .features-img__mod {
    height: auto;
  }
  .features-text {
    width: 50%;
    text-align: center;

  }
}

@media screen and (max-width: 376px) {
  .home-image img {
    left: 9px;
    width: 21rem;
    top: 3px;
  }
  .parts-square-inner-right__mod2 img {
    top: 325px;
    width: 24rem;
    right: -67px;
  }
  .parts-square-inner-right__mod3 img {
    top: 340px;
    width: 24rem;
    right: -81px;
  }
}

@media screen and (max-width: 321px) {
  .home-image img {
    left: 9px;
    width: 18rem;
    top: 3px;

  }
  .parts-square-inner-right__mod2 img {
    top: 303px;
    width: 20rem;
    right: -25px;
  }
  .parts-square-inner-right__mod3 img {
    top: 322px;
    width: 20rem;
    right: -26px;
  }
  .parts-square-inner-left__mod3 {
    top: 11.9375rem;
    left: 2px;
  }
  .parts-big {
    height: 1075px;
  }
  .home-socials {
    margin-top: 90px;
  }
}
