@use 'base';
@use 'components';
@use 'pages';
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/dropdown";


* {
    box-sizing: border-box;
}
br {
    display: block;
    margin: 22.5px 0;
    content: " ";
 }
body {
    margin: 0px;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
}

.active {
    color: #EA2A35;
    text-decoration: none;
}


.hidden {
    display: none;
    transition: all 5s ease-out;
    opacity: 0;
}

.show {
    opacity: 1;
}
.read-more{
    font-weight: 300;
}
.show-arrow{
    opacity: 1;
    transform: rotate(0);
}